---

---

<footer class="w-full flex flex-col md:flex-row justify-center items-center mt-12 text-gray-200 gap-4">
  <p>created by <a class="underline" href="https://brkunver.github.io/">Burak Unver</a></p>
  <p class="hidden md:block">-</p>
  <a class="underline" href="https://github.com/brkunver/llm-toolbox">github</a>
</footer>
