---
import { Image } from "astro:assets"
import homeMenu from "../assets/extension-images/home-menu.png"
import createPrompt from "../assets/extension-images/create-prompt.png"
import usePrompt from "../assets/extension-images/use-prompt.png"
---

<section class="w-full flex flex-col justify-center mt-10 gap-12">
  <div id="integration" class="flex flex-col justify-center items-center gap-4">
    <h2 class="text-3xl font-bold">It <span class="text-blue-600">integrates</span> with your ui</h2>
    <p class="font-semibold text-lg">
      So you can access your <span class="text-blue-600">prompts</span> and <span class="text-green-600">bookmarks</span
      > without opening a new interface
    </p>
    <Image class="rounded w-[400px] lg:w-[800px]" src={homeMenu} alt="LLM Toolbox Menu" />
  </div>

  <div class="flex flex-col justify-center items-center gap-4" id="creating-prompt">
    <h2 class="text-3xl font-bold">Create your own prompts</h2>
    <Image class="rounded w-[400px] lg:w-[800px]" src={createPrompt} alt="create prompt" />
  </div>

  <div class="flex flex-col justify-center items-center gap-4" id="using-prompt">
    <h2 class="text-3xl font-bold">Use your prompts with one button</h2>
    <Image class="rounded w-[400px] lg:w-[800px]" src={usePrompt} alt="use prompt" />
  </div>
</section>
