---

---

<section class="w-full hidden md:flex flex-col justify-center items-center mt-4">
  <iframe
    class="self-center text-center rounded hidden lg:block lg:w-[800px] lg:h-[450px]"
    src="https://www.youtube.com/embed/L3p0ReWqnHk?si=5R-bbcT-NVvUftKw"
    title="YouTube video player"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    loading="lazy"
    allowfullscreen></iframe>
</section>
