---
import "../styles/global.css"
import "@fontsource-variable/inter"
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png " />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <meta
      name="description"
      content="LLM Toolbox is a browser extension that enhances your LLM experience by providing a set of tools and features to help you get the most out of your LLM."
    />
    <meta name="keywords" content="llm, toolbox, browser, extension" />
    <meta name="robots" content="index, follow" />
    <meta name="author" content="Burak Unver" />

    <meta property="og:type" content="website" />
    <meta property="og:title" content="LLM Toolbox - Browser extension for LLM" />
    <meta
      property="og:description"
      content="LLM Toolbox is a browser extension that enhances your LLM experience by providing a set of tools and features to help you get the most out of your LLM."
    />
    <meta property="og:url" content="https://brkunver.github.io/llm-toolbox-extension/" />

    <meta name="twitter:title" content="LLM Toolbox - Browser extension for LLM" />
    <meta
      name="twitter:description"
      content="LLM Toolbox is a browser extension that enhances your LLM experience by providing a set of tools and features to help you get the most out of your LLM."
    />

    <title>LLM Toolbox</title>
  </head>
  <body class="flex flex-col min-h-screen p-4 justify-center align-center text-center font-sans text-white bg-bg-dark">
    <header>
      <!-- Ensure your header component or content is properly included here -->
    </header>
    <main class="flex-grow mb-4">
      <slot />
    </main>
  </body>
</html>
