---
import "../styles/global.css"
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png " />
    <title>LLM Toolbox</title>
  </head>
  <body class="flex flex-col h-screen">
    <slot />
  </body>
</html>
